<h1>Demo app for ngx-rxjs-zone-scheduler</h1>
<div>
  <p *ngIf="demotext$ | async; let demotext; else: refreshing">
    {{ demotext }}
  </p>
  <ng-template #refreshing>
    <p>Refreshing...</p>
  </ng-template>
</div>
<div>
  <div>
    <button type="button" (click)="updateProducerOnNgZone()">
      Update on NgZone via producer
    </button>
  </div>
  <br />
  <div>
    <button type="button" (click)="updateProducerOutOfNgZone()">
      Update outside of NgZone via producer
    </button>
  </div>
  <br />
  <div>
    <button type="button" (click)="updateObserverOnNgZone()">
      Update on NgZone via observer
    </button>
  </div>
  <br />
  <div>
    <button type="button" (click)="updateObserverOutOfNgZone()">
      Update outside of NgZone via observer
    </button>
  </div>
  <br />
  <hr />
  <br />
  <div>
    <button type="button" (click)="runChangeDetection()">
      Run change detection
    </button>
  </div>
</div>
